Travel Agent.json
{
  "name": "Travel Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "travel",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        304,
        496
      ],
      "id": "ae37d312-6f44-4d79-b3e2-7849ea0969fc",
      "name": "Webhook",
      "webhookId": "b47fe152-af9c-4910-9cd4-d6300920a299"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2176,
        496
      ],
      "id": "9e5afb9b-455e-4430-a0c9-ff64698230f8",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3db9625-a8d3-4070-ad64-b473325aaaa0",
              "name": "origin",
              "value": "={{ $json.body.origin }}",
              "type": "string"
            },
            {
              "id": "79470c36-466f-46cf-a81b-24fc414ee4dc",
              "name": "destination",
              "value": "={{ $json.body.destination }}",
              "type": "string"
            },
            {
              "id": "0bff69db-47a8-49a7-a729-415d41919b88",
              "name": "departure_date",
              "value": "={{ $json.body.departure_date }}",
              "type": "string"
            },
            {
              "id": "168c1208-9fd4-4ca3-8f85-5becd152ddfd",
              "name": "return_date",
              "value": "={{ $json.body.return_date }}",
              "type": "string"
            },
            {
              "id": "2c8c3a55-1f8d-4e1c-afd1-d7cc3887a55d",
              "name": "travelers",
              "value": "={{ $json.body.travelers }}",
              "type": "number"
            },
            {
              "id": "3146cc29-8d97-458b-ba50-4ddfd280890c",
              "name": "activities",
              "value": "={{ $json.body.activities }}",
              "type": "string"
            },
            {
              "id": "e720a5a4-7a2c-446a-a21c-052969da8a35",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        496
      ],
      "id": "c15bd4c4-65c0-4b95-840a-cefc299eb99b",
      "name": "Set Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Origin: {{ $json.origin }}\nDestination: {{ $json.destination }}\nDeparture Date: {{ $json.departure_date }}\nReturn Date: {{ $json.return_date }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Turn the origin and destination into their airport codes.\n\nMake sure the departure and return dates are in the future, not the past.\n\nHere is the current date/time: {{ $now }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        656,
        496
      ],
      "id": "fba64970-2de7-4a42-88fc-1f8ca923ac10",
      "name": "Airport Codes & Dates"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"origin\": {\n      \"type\": \"string\",\n      \"description\": \"The origin\"\n    },\n    \"destination\": {\n      \"type\": \"string\",\n      \"description\": \"The destination\"\n    },\n    \"departure\": {\n      \"type\": \"string\",\n      \"format\": \"date\",\n      \"description\": \"The departure date (YYYY-MM-DD)\"\n    },\n    \"return\": {\n      \"type\": \"string\",\n      \"format\": \"date\",\n      \"description\": \"The return date (YYYY-MM-DD)\"\n    }\n  },\n  \"required\": [\"origin\", \"destination\", \"departure\",\"return\"]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        848,
        736
      ],
      "id": "229a2d09-ff34-4c92-8b1f-8e2f7a92864d",
      "name": "Locations & Dates"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $('Set Fields').item.json.activities }} in {{ $('Set Fields').item.json.destination }}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"basic\",\n  \"max_results\": 3,\n  \"time_range\": null,\n  \"days\": 3,\n  \"include_answer\": true,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": []\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        944,
        224
      ],
      "id": "6800308c-4fbe-44a0-8222-e753aff88fac",
      "name": "Activities",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Jg3jXaHGjPLxwQoJ",
          "name": "Header Auth account"
        },
        "httpQueryAuth": {
          "id": "lq3HWOdMUfuAit9P",
          "name": "Query Auth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Flights from {{ $('Set Fields').item.json.origin }} to {{ $('Set Fields').item.json.destination }} on {{ $('Set Fields').item.json.departure_date }} to {{ $('Set Fields').item.json.return_date }}\n\n1) {{ $json.best_flights[0].flights[0].airline }}, {{ $json.best_flights[0].flights[0].departure_airport.time }}, {{ $json.best_flights[0].flights[0].duration }} minutes\n\nFeatures:\n{{ $json.best_flights[0].flights[0].extensions }}\n\nPrice: ${{ $json.best_flights[0].price }}, {{ $json.best_flights[0].type }}\n\n2) {{ $json.best_flights[1].flights[0].airline }}, {{ $json.best_flights[1].flights[0].departure_airport.time }}, {{ $json.best_flights[1].flights[0].duration }} minutes\n\nFeatures: \n{{ $json.best_flights[1].flights[0].extensions }}\n\nPrice: ${{ $json.best_flights[1].price }}, {{ $json.best_flights[1].type }}\n\n\n\n# Resorts\n\n1) {{ $('Google_hotels search').item.json.properties[0].name }}\nLink: {{ $('Google_hotels search').item.json.properties[0].link }}\n\nImage: {{ $('Google_hotels search').item.json.properties[0].images[0].original_image }}\n\nRate per night: \n\nNearby Places:\n{{ $('Google_hotels search').item.json.properties[0].nearby_places[0].name }}, {{ $('Google_hotels search').item.json.properties[0].nearby_places[0].transportations[0].type }}, {{ $('Google_hotels search').item.json.properties[0].nearby_places[0].transportations[0].duration }}\n{{ $('Google_hotels search').item.json.properties[0].nearby_places[1].name }}, {{ $('Google_hotels search').item.json.properties[0].nearby_places[1].transportations[0].type }}, {{ $('Google_hotels search').item.json.properties[0].nearby_places[1].transportations[0].duration }}\n\nAmentities: \n{{ $('Google_hotels search').item.json.properties[0].amenities }}\n\n2) {{ $('Google_hotels search').item.json.properties[1].name }}\nLink: {{ $('Google_hotels search').item.json.properties[1].link }}\n\nImage: {{ $('Google_hotels search').item.json.properties[1].images[0].original_image }}\n\nRate per night: \n\nNearbly Places:\n{{ $('Google_hotels search').item.json.properties[1].nearby_places[0].name }}, {{ $('Google_hotels search').item.json.properties[1].nearby_places[0].transportations[0].type }}, {{ $('Google_hotels search').item.json.properties[1].nearby_places[0].transportations[0].duration }}\n{{ $('Google_hotels search').item.json.properties[1].nearby_places[1].name }}, {{ $('Google_hotels search').item.json.properties[1].nearby_places[1].transportations[0].type }}, {{ $('Google_hotels search').item.json.properties[1].nearby_places[1].transportations[0].duration }}\n\nAmenities:\n{{ $('Google_hotels search').item.json.properties[1].amenities }}\n\n3) {{ $('Google_hotels search').item.json.properties[2].name }}\nLink: {{ $('Google_hotels search').item.json.properties[2].link }}\n\nImage: {{ $('Google_hotels search').item.json.properties[2].images[0].original_image }}\n\nRate per night:\n\nNearby Places: \n{{ $('Google_hotels search').item.json.properties[2].nearby_places[0].name }}, {{ $('Google_hotels search').item.json.properties[2].nearby_places[0].transportations[0].type }}, {{ $('Google_hotels search').item.json.properties[2].nearby_places[0].transportations[0].duration }}\n{{ $('Google_hotels search').item.json.properties[2].nearby_places[1].name }}, {{ $('Google_hotels search').item.json.properties[2].nearby_places[1].transportations[0].type }}, {{ $('Google_hotels search').item.json.properties[2].nearby_places[1].transportations[0].duration }}\n\nAmenities: \n{{ $('Google_hotels search').item.json.properties[2].amenities }}\n\n# Activities\n\n1) {{ $('Search Activities').item.json.results[0].title }} \nLink: {{ $('Search Activities').item.json.results[0].url }}\nDescription: {{ $('Search Activities').item.json.results[0].content }}\n2) {{ $('Search Activities').item.json.results[1].title }}\nLink: {{ $('Search Activities').item.json.results[1].url }}\nDescription: {{ $('Search Activities').item.json.results[1].content }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Role\nYou are an expert email writer specializing in creating travel plans. You output a subject and an emailBody as a valid JSON object.\n\n# Objective\nYou will receive information about a vacation plan. Break the email into sections: Introduction, Flights, Resorts, Activities, and Signoff.\n\n# OUTPUT RULES — NON-NEGOTIABLE\n- Return ONLY a raw JSON object — no text before or after\n- No markdown, no code fences, no backticks, no explanations\n- Use the structured defiend in the output parser. \n\n- emailBody must be a single-line JSON string (no literal newlines — use \\n if needed)\n- ALL HTML attributes must use single quotes: style='...' and href='...'\n- Escape any backslashes as \\\\\n- Do not use smart quotes — only standard ASCII quotes\n\n# Email Sections\n\n### Subject\n- Include the travel dates and destination\n\n### Introduction\n- Get the traveler excited about their trip\n- End with: <hr style='border:1px solid #ccc;'>\n\n### Flights\n- List departure and return dates, locations, and flight details\n- End with: <hr style='border:1px solid #ccc;'>\n\n### Resorts\n- Number each resort\n- Resort name must be a clickable link using single-quote attributes: <a href='URL'>Resort Name</a>\n- Include image: <img src='IMAGE_URL' style='max-width:20%; height:auto;'>\n- Leave a blank line between resort name and image, and after the image\n- End with: <hr style='border:1px solid #ccc;'>\n\n### Activities\n- List each activity as a clickable link: <a href='URL'>Activity Name</a>\n- Provide a brief description of each activity\n- End with: <hr style='border:1px solid #ccc;'>\n\n### Signoff\n- Friendly sign-off\n- Signed: TrueHorizon Travel Team\n\n# Hard Limits\n\n- Do not use double quotes inside HTML — single quotes only\n- Do not output anything outside the JSON object\n-If the content is too large, summarize aggressively.\n-Never copy long descriptions verbatim.\n-Keep emailBody under 3000 characters.\n\nREMEMBER: Start with { and end with }. Nothing else."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1504,
        496
      ],
      "id": "597b8597-4d87-4ad5-8261-0192f28af66a",
      "name": "Email Agent"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"subject\": {\n      \"type\": \"string\",\n      \"description\": \"the email subject\"\n    },\n    \"emailBody\": {\n      \"type\": \"string\",\n      \"description\": \"the email body\"\n    }\n  },\n  \"required\": [\"subject\", \"emailBody\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1792,
        832
      ],
      "id": "7e1195b5-b91d-4a1c-bd60-2e0626753e96",
      "name": "Subject & Email"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Set Fields').item.json.email }}",
        "subject": "={{ $json.output.subject }}",
        "message": "={{ $json.output.emailBody }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1824,
        496
      ],
      "id": "cd9b9a4f-ce06-4f06-83d1-94ae2dde61f7",
      "name": "Send Plan",
      "webhookId": "f925c01c-328b-4c28-8d1e-3ca1f7b44294",
      "credentials": {
        "gmailOAuth2": {
          "id": "9frH32ShQs6aDCoE",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fd838df2-da7c-4cb6-bef5-e7837d49fa26",
              "name": "response",
              "value": "=An email has been sent with the travel plan for: {{ $('Email Agent').item.json.output.subject }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2016,
        496
      ],
      "id": "eb4e4379-d992-43d2-89d5-4e4680483017",
      "name": "Response"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {
          "maxTokens": 500
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        592,
        752
      ],
      "id": "d40401d3-bd35-41f0-9fb4-73fc8ab4f736",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "cgB75aL50j7dAGfH",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-4",
        "options": {
          "maxTokens": 600
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1344,
        784
      ],
      "id": "225e231c-0388-4f34-8a96-5071b2df14e3",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "cgB75aL50j7dAGfH",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "query": "={{ $('Set Fields').item.json.activities }} in {{ $('Set Fields').item.json.destination }}",
        "options": {
          "topic": "general",
          "search_depth": "basic",
          "days": 3
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        960,
        496
      ],
      "id": "639a9b45-d41e-4922-b2a6-c4f21e7fefbe",
      "name": "Search Activities",
      "credentials": {
        "tavilyApi": {
          "id": "4zWxx82Sp4QSUpQu",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "operation": "google_hotels",
        "q": "={{ $('Set Fields').item.json.destination }}",
        "check_in_date": "={{ $('Airport Codes & Dates').item.json.output.departure }}",
        "check_out_date": "={{ $('Airport Codes & Dates').item.json.output.return }}",
        "additionalFields": {
          "adults": "={{ $('Set Fields').item.json.travelers }}",
          "sort_by": "8"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-serpapi.serpApi",
      "typeVersion": 1,
      "position": [
        1136,
        496
      ],
      "id": "f17ca296-09af-48c9-9568-2530a331568e",
      "name": "Google_hotels search",
      "credentials": {
        "serpApi": {
          "id": "p5kx7claqMhjUkqZ",
          "name": "SerpApi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "google_flights",
        "departure_id": "={{ $('Airport Codes & Dates').item.json.output.origin }}",
        "arrival_id": "={{ $('Airport Codes & Dates').item.json.output.destination }}",
        "outbound_date": "={{ $('Airport Codes & Dates').item.json.output.departure }}",
        "return_date": "={{ $('Airport Codes & Dates').item.json.output.return }}",
        "additionalFields": {
          "adults": "={{ $('Set Fields').item.json.travelers }}"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-serpapi.serpApi",
      "typeVersion": 1,
      "position": [
        1328,
        496
      ],
      "id": "c108d5ec-418c-4039-be41-cc5a52d1833f",
      "name": "Google_flights search",
      "credentials": {
        "serpApi": {
          "id": "p5kx7claqMhjUkqZ",
          "name": "SerpApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1456,
        800
      ],
      "id": "fbefa10c-c66d-4523-acdd-81b896932e7d",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "hhWfGRkqcCZWTHNZ",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.srv1614439.hstgr.cloud",
            "user-agent": "ElevenLabs/1.0",
            "content-length": "239",
            "accept": "*/*",
            "accept-encoding": "gzip",
            "content-type": "application/json",
            "x-forwarded-for": "34.59.11.47",
            "x-forwarded-host": "n8n.srv1614439.hstgr.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "ab0a12b15bb5",
            "x-real-ip": "34.59.11.47"
          },
          "params": {},
          "query": {},
          "body": {
            "return_date": "2026-06-27",
            "departure_date": "2026-06-24",
            "activities": "visiting great restaurants and local dining spots",
            "destination": "South Africa",
            "travelers": 2,
            "origin": "Lagos, Nigeria",
            "email": "kossyvivian77@gmail.com"
          },
          "webhookUrl": "https://n8n.srv1614439.hstgr.cloud/webhook/travel",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Fields": {
      "main": [
        [
          {
            "node": "Airport Codes & Dates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airport Codes & Dates": {
      "main": [
        [
          {
            "node": "Search Activities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Locations & Dates": {
      "ai_outputParser": [
        [
          {
            "node": "Airport Codes & Dates",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Activities": {
      "main": [
        []
      ]
    },
    "Subject & Email": {
      "ai_outputParser": [
        [
          {
            "node": "Email Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Email Agent": {
      "main": [
        [
          {
            "node": "Send Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Plan": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Airport Codes & Dates",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        []
      ]
    },
    "Search Activities": {
      "main": [
        [
          {
            "node": "Google_hotels search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google_hotels search": {
      "main": [
        [
          {
            "node": "Google_flights search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google_flights search": {
      "main": [
        [
          {
            "node": "Email Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Email Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ac189035-a227-4c09-be27-efab69196d2e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4a75850507e049b24528b55107bd941db041336d998efa3ff42ec16c77e0bd1b"
  },
  "nodeGroups": [],
  "id": "CmRC5ElxQTA1l2VG",
  "tags": []
}