AI Voice Receptionist/Book Appointment.json
{
  "name": "Book Appointment",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "email"
            },
            {
              "name": "event_summary"
            },
            {
              "name": "start_time"
            },
            {
              "name": "end_time"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "e422d210-132a-440e-a582-668775d6d589",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1lz7-wZNk6835nAz9A9-SLvPQYppLvV0eNqEfIDPc_D8",
          "mode": "list",
          "cachedResultName": "Med Spa CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lz7-wZNk6835nAz9A9-SLvPQYppLvV0eNqEfIDPc_D8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 89769278,
          "mode": "list",
          "cachedResultName": "Appointment Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lz7-wZNk6835nAz9A9-SLvPQYppLvV0eNqEfIDPc_D8/edit#gid=89769278"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('When Executed by Another Workflow').item.json.email }}",
            "Appointment Type": "={{ $('When Executed by Another Workflow').item.json.event_summary }}",
            "Date": "={{ $('When Executed by Another Workflow').item.json.start_time }}",
            "ID": "={{ $json.id }}",
            "Notes": "=Appointment Booked at {{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Appointment Type",
              "displayName": "Appointment Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        0
      ],
      "id": "bbd166ce-8924-441e-8abe-a2f5205e667a",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hn7Tqjp2EE8xkvxJ",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "nebolisako@gmail.com",
          "mode": "list",
          "cachedResultName": "nebolisako@gmail.com"
        },
        "start": "={{ $json.start_time }}",
        "end": "={{ $json.end_time }}",
        "additionalFields": {
          "description": "={{ $json.event_summary }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "adb8adab-c0b3-4287-89d7-f93a5877fe47",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "V2ZOiCsiC1ReyPXy",
          "name": "Google Calendar account NEW"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0426164c-f458-4673-bddd-094fc07a4cd0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4a75850507e049b24528b55107bd941db041336d998efa3ff42ec16c77e0bd1b"
  },
  "nodeGroups": [],
  "id": "RAV4c6WAckcde4HZ",
  "tags": []
}