AI Voice Receptionist/Delete Appointment.json
{
  "name": "Delete Appointment",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "event_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -208,
        -16
      ],
      "id": "c096c1ba-f1bb-4e3f-ac48-fd69290785ad",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "nebolisako@gmail.com",
          "mode": "list",
          "cachedResultName": "nebolisako@gmail.com"
        },
        "eventId": "={{ $json.event_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        0,
        -16
      ],
      "id": "4c9d9cdf-ea3f-4972-81c9-9289fa1f4ac5",
      "name": "Delete an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "V2ZOiCsiC1ReyPXy",
          "name": "Google Calendar account NEW"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1lz7-wZNk6835nAz9A9-SLvPQYppLvV0eNqEfIDPc_D8",
          "mode": "list",
          "cachedResultName": "Med Spa CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lz7-wZNk6835nAz9A9-SLvPQYppLvV0eNqEfIDPc_D8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 89769278,
          "mode": "list",
          "cachedResultName": "Appointment Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lz7-wZNk6835nAz9A9-SLvPQYppLvV0eNqEfIDPc_D8/edit#gid=89769278"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('When Executed by Another Workflow').item.json.event_id }}",
            "Notes": "Appointment Deleted at {{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Appointment Type",
              "displayName": "Appointment Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        -16
      ],
      "id": "e50e749b-c267-45a8-b2e7-d12f546bc034",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hn7Tqjp2EE8xkvxJ",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Delete an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4668b6a1-c040-41bb-b48f-58a5561ef43a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4a75850507e049b24528b55107bd941db041336d998efa3ff42ec16c77e0bd1b"
  },
  "nodeGroups": [],
  "id": "OwzHLW0OmRJHvaXe",
  "tags": []
}